<div class="row">
    <% if @user[:function] == "recycler" %>
        <div class="col-lg-offset-4 col-lg-5"><h1>Edit Recycer Profile</h1></div>
     <% else %>
        <div class="col-lg-offset-4 col-lg-5"><h1>Edit Redeemer Profile</h1></div>
     <% end %>
 </div>
 <%= render "form"  %>
