<div class="row">
    <% if current_user[:function] == "recycler" %>
        <div class="col-sm-offset-4 col-sm-5"><h1>New Recycer Profile</h1></div>
     <% else %>
        <div class="col-sm-offset-4 col-sm-5"><h1>New Redeemer Profile</h1></div>
     <% end %>
 </div>
<%= render "form"  %>