<div class="row">
<div class="col-lg-offset-5 col-lg-3"><h1>User Login</h1></div>
</div>
<form action="/sessions" method="post">
  <div class="row">
    <div class="col-lg-offset-4 col-lg-2 form_label">Email:</div>
    <div class="col-lg-3"><input type="text" placeholder="email" name="email" ></div>
   </div>
   <div class="row">
     <div class="col-lg-offset-4 col-lg-2 form_label">Password: </div>
     <div class="col-lg-3"><input type="password" placeholder="password" name="password" ></div>
  </div>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-2 form_label">Login: </div>
    <div class="col-lg-2"><input type="submit" ></div>
  </div>
</form>

<h4>
<div class="col-lg-offset-5 col-lg-3"><%= link_to "create new account", new_user_path %></div>
</h4>