<div class="row">
<div class="col-sm-offset-5 col-sm-4"><h1>Hi5 Exchange Login</h1></div>
</div>
<form action="/sessions" method="post">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-2 form_label">Username:</div>
    <div class="col-sm-3"><input type="text" placeholder="username" name="username" ></div>
   </div>
   <div class="row">
     <div class="col-sm-offset-4 col-sm-2 form_label">Password: </div>
     <div class="col-sm-3"><input type="password" placeholder="password" name="password" ></div>
  </div>
  <div class="row">
    <div class="col-sm-offset-4 col-sm-2 form_label">Login: </div>
    <div class="col-sm-2"><input type="submit" ></div>
  </div>
</form>
</br>
<div class="row">
  <div class="col-sm-offset-4 col-sm-7">
      <img src="/assets/HI5_group.jpg" alt="recycle drop off">
  </div>
</div>