<!-- User Sign UP users_controller -->

<div id="wrap" ng-controller="landingPageController">
  <!-- <div ng-show="redeemerSignUp"> -->
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 ">
  <div class="jumbotron">

    <h2 class="heading_for_jumbotron">Redeemer Sign up</h2>
    <h2 class="sub_heading_for_jumbotron">Exchange Recyclables for Cash!</h2>
    <form ng-submit="addUser()">
      <div class="row">
        <div class="col-sm-offset-3 col-sm-9 ">
          <h2>Login Information</h2>
        </div>
        <div class="col-sm-offset-2 col-sm-3 text-right">Username:</div>
        <div class="col-sm-7">
          <input type="text" placeholder="username" ng-model="newUser.username" required>
        </div>
        <div class="col-sm-offset-3 col-sm-9"><p>{{pwdLength}}</p></div>
        <div class="col-sm-offset-2 col-sm-3 text-right">Password:</div>
        <div class="col-sm-7"><input type="password" placeholder="password" ng-model="newUser.password" required></div>
        <div class="col-sm-offset-0 col-sm-5 text-right">Password Confirmation:</div>
        <div class="col-sm-7"><input type="password" placeholder="password confirmation" ng-model="newUser.password_confirmation" required></div>
        <div class="col-sm-offset-3 col-sm-9 ">
          <h2>Profile Information</h2>
        </div>
        <div class="col-sm-offset-2 col-sm-3 text-right">First Name:</div>
        <div class="col-sm-7"><input type="text" placeholder="first name" ng-model="newUser.first_name" required></div>
        <div class="col-sm-offset-2 col-sm-3 text-right">Last Name:</div>
        <div class="col-sm-7"><input type="text" placeholder="last name" ng-model="newUser.last_name" required></div>
        <div class="col-sm-offset-2 col-sm-3 text-right">Email:</div>
        <div class="col-sm-7"><input type="email" placeholder="email" ng-model="newUser.email" required ></div>
        <div class="col-sm-offset-3 col-sm-9"><p>{{textAndEmail}}</p></div>
        <div class="col-sm-offset-2 col-sm-3 text-right">Phone:</div>
        <div class="col-sm-7"><input type="tel" placeholder="phone" ng-model="newUser.phone" ></div>
        <div class="col-sm-offset-2 col-sm-3 text-right">Address:</div>
        <div class="col-sm-7"><input type="text" placeholder="address" ng-model="newUser.address" required></div>
        <div class="col-sm-offset-2 col-sm-3 text-right">City:</div>
        <div class="col-sm-7"><input type="text" placeholder="city" ng-model="newUser.city" required></div>
        <div class="col-sm-offset-2 col-sm-3 text-right">State:</div>
        <div class="col-sm-7"><input type="text" placeholder="state" ng-model="newUser.state" required></div>
        <div class="col-sm-offset-2 col-sm-3 text-right">Zipcode:</div>
        <div class="col-sm-7"><input type="text" placeholder="zipcode" ng-model="newUser.zipcode" required></div>
        <!-- New Group Id  -->
        <div><input type="hidden" ng-model="newUser.group_id" id="group_id" value="3"></div>

        <input type="hidden" id="user_function"  value="redeemer" >
        </br>
        <div class="col-sm-offset-3 col-sm-9"><textarea class="terms" readonly="readonly">{{terms}}</textarea></div>
        </br>
        <div class="col-sm-offset-3 col-sm-9"><input type="checkbox" required> {{conditions}}</div>
        <p></p>
        <div class="col-sm-offset-5 col-sm-1">
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>
      </div><!-- end row -->
    </form>
    <div class="row">
        <div class="col-sm-offset-9 col-sm-2">
        <a href="/admins" class="right"><button class="btn btn-default btn-lg">Close</button></a>
        </div>
    </div>

  </div><!--end jumbotron - redeemerSignUp -->
  </div>
  </div><!-- end row -->
  <!-- </div> -->
</div>
<!-- end User Sign UP -->