<div class="row">
  <div class="col-sm-offset-3 col-sm-9 "><img id="hi5_banner" src="/assets/banner03vintage.jpg" class="img-responsive" style="width: 60%;"alt="HI5 logo"></div>
</div>

<div class="jumbotron">
  <div class="containger">
    <div class="row">
      <div style="text-align: center;">
        <h2>Welcome to Hi5 Exchange</h2>

      </div>
        <div class="row">
          <div style="text-align: center;">
            <p>As a <strong>"Recycler"</strong> : Find someone to take your material to the recycling center. Free.</p>
          </div>
        </div>
        <div class="row">
          <div style="text-align: center;">
            <p>As a <strong>"Redeemer"</strong>: Find someone else's recycleable material to take to the redemption center. Get the cash!</p>
          </div>
        </div>
        <div class="row">
          <div style="text-align: center;">
            <h3>Everybody wins!</h3>
            <p>Sign up now.</p>
          </div>
        </div>
    </div>
  </div>

</div>
<!-- <div class="row">
  <div class="col-sm-offset-5 col-sm-4" >
      <img src="/assets/HI5_logo.bmp" class="img-responsive" style="width: 40%;"alt="HI5 logo">
  </div>
</div> -->