<div class="row">
  <div class="col-sm-offset-3 col-sm-9 "><img id="hi5_banner" src="/assets/hi5_banner.png" class="img-responsive" style="width: 60%;"alt="HI5 Banner"></div>
</div>

<div class="jumbotron">
  <div class="containger">
    <div class="row">
      <div style="text-align: center;">
        <h1>Helping Hawaii Recycle</h1>
        <h2>Welcome to Hi5 Exchange</h2>

      </div>
        <div class="row">
          <div style="margin-left: 15%;">
            <li>As a recycler: Find someone to pick up your recycling for proper disposal. Free.</li>
          </div>
        </div>
        <div class="row">
          <div style="margin-left: 15%;">
            <li>As a redeemer: Find someone who needs their returnables removed. Keep the cash for yourself.</li>
          </div>
        </div>
        <div class="row">
          <div style="text-align: center;">
            <h3>Everybody wins! Sign up now.</h3>
          </div>
        </div>
    </div>
  </div>

</div>
<!-- <div class="row">
  <div class="col-sm-offset-5 col-sm-4" >
      <img src="/assets/HI5_logo.bmp" class="img-responsive" style="width: 40%;"alt="HI5 logo">
  </div>
</div> -->