<div class="jumbotron">
  <div class="containger">
    <div class="row">
      <div class="col-lg-offset-4"><h1>HI5 Exchange</h1></div>
        <div class="row">
          <div class="col-lg-offset-2">
            <p>Find someone to take your material to the recycling center. Get it out of your hair</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-offset-2">
            <p>Find someone else's recycleable material to exchange for cash at the redemption center.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-offset-5">
            <p>Everybody wins!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-offset-5 col-lg-2">
            <h4><a class="btn btn-primary btn-block" href="">Check It Out!</a></h4>
          </div>
        </div>
    </div>
  </div>
</div>