<div class="jumbotron">
  <div class="containger">
    <div class="row">
      <div style="text-align: center;">
        <h1>Hi5 Exchange</h1>
      </div>
        <div class="row">
          <div style="text-align: center;">
            <h3>As a "Recycler":</h3>
              <p>Find someone to take your material to the recycling center.</p>
              <p> Get it out of your hair!</p>
          </div>
        </div>
        <div class="row">
          <div style="text-align: center;">
            <h3>As a "Redeemer":</h3>
            <p>Find someone else's recycleable material to take to the redemption center.</p>
            <p> Get the cash!</p>
          </div>
        </div>
        <div class="row">
          <div style="text-align: center;">
            <h3>Everybody wins!</h3>
            <p>Sign up now.</p>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-sm-offset-5 col-sm-2">
            <h4><a class="btn btn-primary btn-block" href="/hi5exchanges/descriptions">Learn More</a>
            </h4>
          </div>
        </div> -->
    </div>
  </div>

</div>
<div class="row">
  <div class="col-sm-offset-5 col-sm-4" >
      <img src="/assets/HI5_logo.bmp" class="img-responsive" style="width: 40%;"alt="HI5 logo">
  </div>
</div>