<div class="jumbotron">
  <div class="containger">
    <div class="row">
      <div class="col-sm-offset-4"><h1>HI5 Exchange</h1></div>
        <div class="row">
          <div class="col-sm-offset-2">
            <p>Find someone to take your material to the recycling center. Get it out of your hair</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-2">
            <p>Find someone else's recycleable material to exchange for cash at the redemption center.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-offset-5">
            <p>Everybody wins!</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-offset-5 col-sm-2">
            <h4><a class="btn btn-primary btn-block" href="/hi5exchanges/descriptions">Learn More</a>
            </h4>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-offset-5 col-sm-7">
      <img src="/assets/HI5_logo.bmp" alt="HI5 logo">
  </div>
</div>