<div class="col-lg-7 col-lg-offset-5"><h1>Transaction</h1></div>
<%= render "recycler_redeemers" , recycler_redeemer: @recycler_redeemer %>
<h4>
<div class="col-lg-offset-5 col-lg-4"><%= link_to "back to all transactions", recycler_redeemers_path %></div>
</h4>