<%= render "recycler_redeemers" , recycler_redeemer: @recycler_redeemer %>
<h4>
<div class="col-lg-offset-4 col-lg-4"><%= link_to "back to all recycler_redeemers", recycler_redeemers_path %></div>
</h4>