<div ng-controller="RedeemerController">
  <!-- need to require 'json' ?? -->
  <!-- <input type="hidden" id="transaction_all" value="<%#= Transaction.all.to_json %>" /> -->
  <!-- <input type="hidden" id="user" value="<%#= User.all.to_json %>" /> -->
  <div class="col-sm-offset-5 col-sm-7"><all></all></div>
  <div class="row">
    <div class="bs-example col-sm-offset-2 col-sm-8">
      <table class="table table-hover" id="recycler-table">
        <thead>
          <tr>
            <th>Select</th>
            <th>Address</th>
            <th>St. / Zip</th>
            <th>Plastic</th>
            <th>Cans</th>
            <th>Glass</th>
            <th>Other</th>
            <!-- <th>Posted</th> -->
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="transaction in transactions | filter: {selected: false}">
            <td>
              <input type="checkbox" ng-click="select()" ng-model="transaction.selected">
            </td>
            <td>{{transaction.address}}, {{transaction.city}}</td>
            <td>{{transaction.state}} {{transaction.zipcode}}</td>
            <td>{{transaction.plastic}}</td>
            <td>{{transaction.cans}}</td>
            <td>{{transaction.glass}}</td>
            <td>{{transaction.other}}</td>
            <!-- <td>{{transaction.created_at}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-sm-offset-4 col-sm-8"><h1>Selected  by <%= current_user[:first_name]%>
    <%= current_user[:last_name]%></h1></div>
  <div class="row">
    <div class="bs-example col-sm-offset-2 col-sm-8">
      <table class="table table-hover" id="recycler-table">
        <thead>
          <tr>
            <th>Unselect</th>
            <th>Address</th>
            <th>St. / Zip</th>
            <th>Plastic</th>
            <th>Cans</th>
            <th>Glass</th>
            <th>Other</th>
            <th>Selected</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="transaction in transactions | filter: {selected: true, completed: false}" >
              <td>
                <input type="checkbox" ng-click="unselect()" ng-model="transaction.selected" checked>
                <input type="hidden" id="unselection_date" value="nil" />

              </td>
              <td>{{transaction.address}}, {{transaction.city}}</td>
              <td>{{transaction.state}} {{transaction.zipcode}}</td>
              <td>{{transaction.plastic}}</td>
              <td>{{transaction.cans}}</td>
              <td>{{transaction.glass}}</td>
              <td>{{transaction.other}}</td>
              <td>{{transaction.selection_date | date:'MM/dd/yy h:mm a' }} </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <input type="hidden" id="center_latitude" value="<%= current_user[:latitude] %>" />
  <input type="hidden" id="center_longitude" value="<%= current_user[:longitude] %>" />
  <div id="map-canvas"></div>
</div><!-- ng-controller -->


