<div class="col-sm-7 col-sm-offset-5"><h1>Redeemer</h1></div>
<%= render "redeemers" , redeemer: @redeemer %>
<h4>
<div class="col-sm-offset-5 col-sm-3"><%= link_to "History of Transactions", redeemer_history_path %></div>
</h4>
</br>
<h4>
<div class="col-sm-offset-5 col-sm-3"><%= link_to "back to all redeemers", redeemers_path %></div>
</h4>