
/* Elements */
footer {
  font-size: .9em;
  text-align: center;
 }

html, body {
  height: 100%;
  margin: 0px;
  padding: 0px
}

img[class="icon"] {
   height: 20px;
   width: 20px;
   margin: 0 0px 0 0px;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
   /*border: 2px solid black;*/
}

input[type="text"],input[type="email"],
input[type="password"], input[type="tel"] {
  width: 200px;
}

input[type="submit"] {
  width: 150px;
}

li[class="footer-img"] {
  display: inline;
  padding: 0px 10px 0px 10px;
  list-style: none;
}

textarea.terms {
  width:450px;
  height:200px;
  border:1px solid #ccc;
  background:#f2f2f2;
  font:normal 11px/15px arial;
  padding:6px;
  color:#333;
}


/* Classes */
.closeRight {
  float: right;
  vertical-align: center;
  margin: 0px 10px;
}
.error {
  color: red;
  font-size: 1.2em;
}
.form_label {
  text-align: right;
}

.heading_for_jumbotron {
 color: #1350f8;
 font-style: italic;
 font-size: 50px;
 text-align: center;
}

.sub_heading_for_jumbotron {
 color: #808080;
 font-style: italic;
 font-size: 25px;
 text-align: center;
}


.right {
  float: right;
  margin: 10px 10px 0px 0px;
}

.thanks_alert {
    visibility: hidden;
}

.welcome_to_hi5_exchange {
  text-align: center;
}

/* Ids */


#logo {
  float: left;
  margin-left: 10%;
}

#map-canvas {
  height: 500px;
  width: 800px;
  margin: 0px;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  margin-left: -180px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

#signin, #signout {
  float: right;
  margin-right: 10%;
}

#signup, #recycle, #select, #profile, #home {
  float:right;
}


#wrap {
  min-height: 100%;
  height: auto !important;
}



/*.ng-hide {
  display:block!important;

  position:absolute;
  top:-9999px;
  left:-9999px;
}*/

