// Place all the styles related to the recycle_redeemers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer {
  font-size: .9em;
  text-align: center;
 }

li[class="footer-img"] {
  display: inline;
  padding: 0px 10px 0px 10px;
  list-style: none;
}

 img[class="icon"] {
   height: 20px;
   width: 20px;
   margin: 0 0px 0 0px;
   -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
   /*border: 2px solid black;*/
}
.error {
  color: red;
  font-size: 1.2em;
}
.form_label {
  text-align: right;
}


