<!doctype html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
   <h2><%= @greeting %> <%= @user.first_name %> <%= @user.last_name%>,</h2>
   <p>The redeemer has logged in the system that your recycling job has been completed.</p>
   <p>At your convenience, please fill out the optional feedback form and rate the redeemer.</p>
   <p>Thanks again for your participation.</p>
</body>
</html>