<!doctype html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h2><%= @greeting %> <%= @user.first_name %> <%= @user.last_name%>,</h2>
  <p>Your profile has been updated.</p>

  <p>Thank you for your participation.</p>

  <p>Please feel free to contact me by replying to this email - I'd love to hear from you about your experience!</p>

  <p>Mahalo,</p>

  <p>Annie</p>
</body>
</html>