<!doctype html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
   <h2><%= @greeting %> <%= @user.first_name %> <%= @user.last_name%>,</h2>
   <p>Your recycling job has been selected by a redeemer.</p>
   <p>Please make sure your material is out on the driveway.</p>
   <p>Thank you for your participation.</p>
</body>
</html>