<!doctype html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
   <h2><%= @greeting %> <%= @user.first_name %> <%= @user.last_name%>,</h2>
   <p>Unfortuantely, your recycling job has been unselected by a redeemer.</p>
   <p>Your job has automatically been placed back in the system for another redeemer to select.</p>
</body>
</html>