<!doctype html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
   <h1>Hey <%= @user.username %>, welcome to the Hi5 Exchange</h1>
   <p> Your <%= @user.function %> has been created</p>
</body>
</html>