<!doctype html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
   <h2><%= @greeting %> <%= @user.first_name %> <%= @user.last_name%>,</h2>
   <h3>Welcome to the Hi5 Exchange</h3>
<p>
Welcome to HI 5 exchange! We are so excited to have you on board. This web application is very new - we are in beta stage - so we are a work in progress. Please be patient with us, and please give us feedback about your experience. We want to make it work according to your suggestions, because this is all about you, our users!

</p>
<p>
Now that you’ve registered as a recycler, you can log in anytime to request a redeemer to pick up your recycling. Only registered redeemers will be able to see this information and claim the job. Once a redeemer has clicked the box next to your listing, you’ll be notified of the redeemer’s intentions to claim your recycling by text message and email. They’ll have 24 hours to remove your bags. Don’t forget to take your bags of redeemables outside! Please be courteous - put the bags somewhere visible on your property and make sure it’s obvious for your redeemer.
</p>
<p>
Please save this email in case you need to contact me.
</p>
<p>
Annie
</p>
</body>
</html>