<!doctype html>
<html lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
   <h2><%= @greeting %> <%= @user.first_name %> <%= @user.last_name%>,</h2>
   <h3>Welcome to the Hi5 Exchange</h3>
<p>
Welcome to HI 5 exchange! We are so excited to have you on board. This web application is very new - we are in beta stage - so we are a work in progress. Please be patient with us, and please give us feedback about your experience. We want to make it work according to your suggestions, because after all, this is all about you, our users!
</p>
<p>
Now that you are a redeemer, you’re ready to go! You can log in anytime to see if there’s any recycling you’d like to pick up in your area. Once you’ve claimed a job by clicking the box next to the listing, you are responsible for that pickup. The listing will disappear so that another redeemer cannot claim the same job. You’ll have 24 hours to remove that user’s recycling. Please be courteous - do not claim a job unless you intend to pick it up within that time frame!
</p>
<p>
Please save this email in case you need to contact me.
</p>
<p>
Annie
</p>
</body>
</html>