<footer>
  <div class="container">
    <div class="row">
  <div class="col-sm-12 ">
    Spencer Eldred<br/>
    eldredspencer@gmail.com<br/>
    808.280.3758 <br>
</div>
  <div class="col-xs-12 col-sm-12">
    <ul>
        <li class="footer-img"><a href="https://github.com/spencereldred" title="Spencer's Github" ><img class="icon" src="/assets/github-logo.png" alt="Github" title="Github"></a>
        </li>
        <li class="footer-img"><a href="https://www.facebook.com/spencer.eldred.3" title="Spencer's Facebook" ><img class="icon" src="/assets/facebook.png" alt="Facebook" title="Facebook"></a>
        </li>
        <li class="footer-img"><a href="https://twitter.com/SpencerEldred" title="Spencer's Twitter" ><img class="icon" src="/assets/twitter.jpeg"
            alt="Twitter" title="Twitter"></a>
        </li>
        <li class="footer-img"><a href="https://www.linkedin.com/" title="Spencer's Linked In" ><img class="icon" src="/assets/linked_in_icon.jpg"
            alt="Linked In" title="Linked In"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
</footer>