<!-- Button trigger modal -->
<button class="btn btn-default btn-lg right" data-toggle="modal" data-target="#myModal">
  Sign In
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <img id="logo" src="/assets/hi5_logo.png" class="img-responsive" style="width: 10%;"alt="HI5 logo">
        <h4 class="modal-title" id="myModalLabel">Hi5 Exchange Login</h4>
      </div>
      <div class="modal-body">

          <form action="/sessions" method="post">
            <div class="row">
              <div class="col-sm-offset-3 col-sm-2 form_label">Username:</div>
              <div class="col-sm-4"><input type="text" placeholder="username" name="username"  required></div>
             </div>
             <div class="row">
               <div class="col-sm-offset-3 col-sm-2 form_label">Password: </div>
               <div class="col-sm-4"><input type="password" placeholder="password" name="password" required ></div>
            </div>
            <div class="row">
              <div class="col-sm-offset-3 col-sm-2 form_label">Login: </div>
              <div class="col-sm-2"><input class="btn btn-primary btn-md" type="submit" ></div>
            </div>
           </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal