  <div class="row">
    <div class="col-xs-offset-1 col-xs-4"><textarea class="terms" readonly="readonly">
WELCOME TO HI5exchange. By accessing our servers, websites, or content therefrom (together, "HI5"), you agree to these Terms of Use ("TOU"), last updated January 7, 2014.
LICENSE. If you are 18 or older, we grant you a limited, revocable, nonexclusive, nonassignable, nonsublicensable license to access HI5 in compliance with the TOU; unlicensed access is unauthorized. You agree not to license, distribute, make derivative works, display, sell, or "frame" content from HI5. You grant us a perpetual, irrevocable, unlimited, worldwide, fully paid/sublicensable license to use, copy, perform, display, distribute, and make derivative works from content you post.
USE. You agree not to use or provide software (except for general purpose web browsers and email clients, or software expressly licensed by us) or services that interact or interoperate with HI5, e.g. for downloading, uploading, posting, flagging, emailing, search, or mobile use. Robots, spiders, scripts, scrapers, crawlers, etc. are prohibited, as are misleading, unsolicited, unlawful, and/or spam postings/email. You agree not to collect users' personal and/or contact information ("PI").
MODERATION. You agree we may moderate HI5 access and use in our sole discretion, e.g. by blocking (e.g. IP addresses), filtering, deletion, delay, omission, verification, and/or access/account/license termination. You agree (1) not to bypass said moderation, (2) we are not liable for moderating, not moderating, or representations as to moderating, and (3) nothing we say or do waives our right to moderate, or not.
    </textarea></div>
    </div>
    </br>
    <div class="row">
     <div class="col-xs-offset-2 col-xs-7"><input type="checkbox" required> I agree with the Terms and Conditions.</div>
    </div>

