  <div class="row">
    <div class="col-sm-offset-1 col-sm-4"><textarea class="terms" readonly="readonly">
WELCOME TO HI5exchange. By accessing our servers, websites, or content therefrom (together, "HI5"), you agree to these Terms of Use ("TOU"), last updated January 7, 2014.
LICENSE. If you are 18 or older, we grant you a limited, revocable, nonexclusive, nonassignable, nonsublicensable license to access HI5 in compliance with the TOU; unlicensed access is unauthorized. You may not license, distribute, make derivative works, display, sell, or "frame" content from HI5. We reserve a perpetual, irrevocable, unlimited, worldwide, fully paid/sublicensable license to use, copy, perform, display, distribute, and make derivative works from content you post.
USE. You may not use or provide software (except for general purpose web browsers and email clients, or software expressly licensed by us) or services that interact or interoperate with HI5, e.g., for downloading, uploading, posting, flagging, emailing, search, or mobile use. Robots, spiders, scripts, scrapers, crawlers, etc. are prohibited, as are misleading, unsolicited, unlawful, and/or spam postings/email. You may not collect users' personal and/or contact information ("PI").
MODERATION. We may moderate HI5 access and use in our sole discretion, e.g., by blocking (e.g., IP addresses), filtering, deletion, delay, omission, verification, and/or access/account/license termination. You may not bypass said moderation. We are not liable for moderating, not moderating, or representations as to moderating, and nothing we say or do waives our right to moderate, or not.
HI5 makes no promises or representations of any kind concerning the safety, availability, timeliness or reliability of its services, the identity of its users, or the accuracy of the information provided by its users. Access and use of Hi5, including any communication or contact with others, are entirely at your own risk.
HI5 AND ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, AFFILIATES, SUCCESSORS AND ASSIGNS ARE NOT LIABLE IN CONTRACT OR TORT OR BY STATUTE FOR ANY HARM TO PERSON OR PROPERTY WHATSOEVER, INCLUDING INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, RESULTING DIRECTLY OR INDIRECTLY FROM HI5’S WEBSITE OR OPERATIONS OR FROM ANY CONDUCT BY ANY OF ITS USERS. YOU AGREE TO INDEMNIFY AND HOLDHARMLESS HI5, ITS OFFICERS,
DIRECTORS, EMPLOYEES, AGENTS, AFFILIATES, SUCCESSORS OR ASSIGNS FROM ANY AND ALL CLAIMS, LOSSES OR DEMANDS, INCLUDING ATTORNEY'S FEES, MADE BY ANY THIRD PARTY ARISING FROM YOUR USE OF HI-5’s WEBSITE OR SERVICES RELATED TO ANY VIOLATION OF THESE TERMS AND CONDITIONS, OR ARISING FROM YOUR VIOLATION OF ANY RIGHTS OF A THIRD PARTY.
    </textarea></div>
    </div>
    </br>
    <div class="row">
     <div class="col-sm-offset-2 col-sm-7"><input type="checkbox" required> I agree with the Terms and Conditions.</div>
    </div>

