
    <h3>Pills with dropdowns</h3>
    <div class="bs-example">
      <ul class="nav nav-pills">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Help</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            Dropdown <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /example -->


<nav class="navbar navbar-inverse " role="navigation">
      <div class="container">
         <% if !@user || !@user[:id] %>
          <div class="navbar-brand">
            <%= link_to "Home", root_path %>
          </div>
        <% end %>

          <% if @user %>

            <% if @user[:function] == "redeemer" || @user[:function] == "admin" %>
            <div class="navbar-brand  col-sm-2">
              <!-- <a href="/redeemers">Select</a> -->
              <%= link_to "Select", redeemers_path %>
            </div>
            <% end %>

            <% if @user[:function] == "recycler" || @user[:function] == "admin" %>
            <div class="navbar-brand col-sm-2">
              <!-- <a href="/transactions/new">Recycle</a> -->
              <%= link_to "Recycle", new_transaction_path %>
            </div>
            <% end %>

            <div class="navbar-brand  col-sm-2" >
              <a href="/users/<%= @user[:id] %>">Profile</a>
            </div>
          <% end %>
        <div class="navbar-brand col-sm-2" id="login" >

            <% if current_user %>
              <%= link_to "Logout", logout_path %>
              <% else %>
              <%= link_to "Sign In", login_path %>
            <% end %>
        </div>

      </div>
    </nav>
